[data-theme="dark"] #post .post-copyright {
    background-color: rgb(7 8 10);
    text-shadow: #bfbeb8 1px 0 4px;
}

[data-theme="dark"] #post .post-copyright {
    border: 1px solid rgb(19 18 18 / 35%);
}

[data-theme="dark"] .post-copyright-info {
    color: #e0e0e4;
}

#post .post-copyright__title {
    font-size: 18px;
}

#post .post-copyright__notice {
    font-size: 15px;
}

#post .post-copyright {
    position: relative;
    margin: 40px 0 10px;
    padding: 10px 16px;
    border: 1px solid var(--light-grey);
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 12px !important;
    background-color: var(--june-copyright-bg);
}